.projects {
    align-items: center;
    background: #efeff0;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.projects h2 {
    color: #4e4039;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.container-projects {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 255px;
}

.card:hover {
    box-shadow: 0 10px 5px -5px rgba(68, 88, 220, 0.5);
    transform: translateY(-5px);
}

.card img {
    width: 50px;
}

.card h3 {
    color: #4e4039;
    font-weight: 500;
    padding: 10px 0;
    text-transform: uppercase;
}

.card p {
    color: #4e4039;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}

@media(max-width: 576px) {
    .projects {
        color: #4e4039;
        height: fit-content;
        padding-bottom: 20px;
    }

    .projects h2 {
        font-size: 24px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .container-projects {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

@media(max-width: 768px) {
    .container-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects h2 {
        font-size: 20px;
    }
}

@media(max-width: 1200px) {
    .projects {
        color: #4e4039;
        height: fit-content;
        padding: 30px;
    }

    .container-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects h2 {
        font-size: 20px;
        padding-bottom: 30px;
    }
}